doctype html
html(lang="")
  head
    title Calendar Project
    meta(charset="utf-8")
  body
    //- section.task.task--warning Projects
    //- section.task.task--danger Design Sprint
    //- section.task.task--primary Product Checkup 1
    //- section.task.task--info Product Checkup 2
    h1.txt--center Simple Calendar
    div#cal-date.cal-date
      select#cal-mth.select(name="months")
      select#cal-yr.select(name="years")
      input#cal-set.button--input(type="button", value="SET")

    div#cal-container.calendar-container

    div#cal-event.cal-event

    script(src="index.js")
